/*CSS Document*/

img{
    width: 100%;
}

a{
    text-decoration: none;
    color:#990000;
    text-align: center;
}

a:hover{
    color:#E0E0E0;
    background:rgba(256, 256, 256, 0);
}

h2{
    text-align: center;
    font-size:3em;
}

h3{
    font-size: 5em;
    margin:0.3em 0.3em;
    color:#990000;
    text-align:left;
}



h4{
    margin-bottom: 0.2em;
    margin-top: 0.3em;
    font-size: 1.5em;
}


body{
    font-family: 'Roboto Condensed', sans-serif;
}

footer{
    font-size:1em;
    text-align: center;
    background-color:#E0E0E0;
    padding:0.3em;
    clear:both;
}

.bold{
    font-family: 'Dancing Script', cursive;
    font-size: 1.75em;
}

.quote{
    color:#FFFF;
    background-image: url(images/cafepatio.jpg);
    background-position:top center;
    background-size:cover;
    padding:6em;
    margin: 2em 0em 3em 0em;
}

.quote h2{
    margin-top:0.2em;
    margin-bottom: 0.2em;
}


.menu{
    text-align:center;
    font-size: 2em;
    margin-right: 0.3em;
}


.ourmenu ul{
    margin:2.75em;
}

.listitems li{
    list-style: none;
  
}
.listitems p{
    margin:0em 1em;
}

.header h2{
    font-size: 3em;
    margin:0.5em;
    font-family: 'Dancing Script', cursive;
}


.menu li {
    display:inline;
    font-size: 1.5em;
    padding: 0.3em;
}

.signature{
    font-family: 'Dancing Script', cursive;
    text-align:center;
    font-size:2em;
}

.ourmenu li{
    display:block;
    font-size: 2em;
    margin: 0.3em;
    text-align: center;
    background-color: #8E8E8E;
    padding:0.4em;
}
.aboutus p{
    padding:0em 2em;
}
.catering{
    background-image: url(images/brunch.jpg);
    background-position:top center;
    background-size:cover;
    padding:6em;
    margin: 2em 0em 1em 0em;
    
}

.catering h2{
    color:#ffff;
    margin-bottom:0.2em;
    margin-top:0.2em;
    margin-bottom: 0.2em;
}

.location,.hours {
    text-align: center;
    padding: 2em;
    float:left;
    margin:0.5em;
    
}


