/*CSS Document*/
img{
    width:100%;
}

a{
    text-decoration: none;
    color:#909090;
}

a:hover{
    color:#990000;
    background:rgba(256, 256, 256, 0);
}

h2{
    text-align: center;
    font-size:6em;
    margin-bottom:0.2em;
}

h3{
    font-size: 5em;
    margin:0.3em 0.3em;
    color:#990000;
    text-align:center;
}

h4{
    margin-bottom: 0.2em;
    margin-top: 0.3em;
    font-size: 3em;
}

p{
    font-size:2em;
}

.header{
    text-align: right;
    width: 30%;
    margin:auto;
    margin-bottom:0em;
}

body{
    font-family: 'Roboto Condensed', sans-serif;

}

footer{
    font-size:1em;
    text-align: center;
    padding:0.3em;
    clear:both;
    border-top: solid 2px;
    border-color: #E0E0E0;
    width:100%;
}

.bold{
    font-family: 'Dancing Script', cursive;
    font-size: 1.75em;
}

.quote{
    color:#FFFF;
    background-image: url(images/cafepatio.jpg);
    background-position:top center;
    background-size:cover;
    padding:6em;
    margin: 2em 0em 1em 0em;
    clear: both;
}

.quote h2{
    margin-top:0.2em;
    margin-bottom: 0.2em;
}


.menu{
    text-align:center;
    font-size: 1.5em;
    margin: auto;
    border-bottom: solid 2px;
    border-color: #E0E0E0;
    width:100%;
}


.ourmenu ul{
    margin:1em;
    font-size:2em;
    width:70%;
    margin:auto;
    clear: both;
    
}

.listitems li{
    list-style: none;  
}
.listitems p{
    margin:0em 1em;
}

.listitems{
    max-width:40em;
    margin: auto;
}

@media only screen and (min-width:40em){
        .listitems{
            width:45%;
            float:left;
            margin-right:1em;
    }
}

.header h2{
    font-size: 3em;
    margin:0.5em;
    font-family: 'Dancing Script', cursive;
    border-bottom: solid 2px;
    border-color: #E0E0E0;
    padding-bottom: 0.5em;
}


.menu li {
    display:inline;
    font-size: 1.5em;
    padding: 1em;
}

.signature{
    font-family: 'Dancing Script', cursive;
    text-align:center;
    font-size:2em;
}

.ourmenu li{
    display:block;
    font-size: 2em;
    margin: 0.3em;
    text-align: center;
    border: solid 4px #990000;
    padding:0.2em;
}
.aboutus p{
    padding:0em 2em;
    max-width: 25em;
    margin:auto;
    clear:both;
}

.catering{
    background-image: url(images/brunch.jpg);
    background-position:top center;
    background-size:cover;
    padding:6em;
    margin: 2em 0em 1em 0em;
    clear: both;
}

.catering h2{
    color:#ffff;
    margin-bottom:0.2em;
    margin-top:0.2em;
    margin-bottom: 0.2em;
}

.location,.hours {
    text-align: center;
    padding: 1em;
    margin:auto;
    width:100%;
    
}

.request h4{
    text-align: center;
    color:#990000;
    margin:0.5em;
    border: solid;
    padding:0.3em;
}


